<footer class="mx-4 mt-16 mb-8 text-center">
  Proyek oleh
  <a class="underline" href="https://davids.id">Lakuapik</a> <br>
  <a class="underline" href="/why">Why?</a>
  | <a class="underline" href="/kebijakan-privasi">Privasi</a>
  | <a class="underline" href="/syarat-dan-ketentuan">S &amp; K</a>
</footer>
