<footer class="mx-4 mt-16 mb-8 text-center">
  <a class="underline" href="mailto:{{ config.app.email }}">{{ config.app.name }}</a> <br>
  <a class="underline" href="/why/">Why?</a>
  | <a class="underline" href="/kebijakan-privasi/">Privasi</a>
  | <a class="underline" href="/syarat-dan-ketentuan/">S &amp; K</a> <br>
  <p class="mt-4 text-sm">Diperbarui {% lastUpdate %} WIB</p>
</footer>
