---
layout: app
title: Tidak Ditemukan
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="text-center">
  <h2 class="text-2xl font-bold">404 - Not Found</h2>
  <img class="my-8 w-[400px] max-w-full object-cover mx-auto"
    src="https://cdn.statically.io/img/c.tenor.com/ghHlWYwrXFUAAAAC/nothing-willy-wonka.gif">
  <p>
    Halaman yang kamu cari tidak ditemukan. <br>
    Kembali ke <a class="underline" href="javascript:history.back()">halaman sebelumnya</a>
    atau ke <a class="underline" href="/">halaman utama</a>.
  </p>
</div>
