---
pagination:
  size: 1
  data: collections.article
  alias: article
permalink: "api/artikel/{{ pagination.pageNumber + 1 }}.json"
eleventyExcludeFromCollections: true
---

{{ article | jsonify | safe }}
