---
layout: app
title: Manifesto
---

<h1 class="mt-8 text-2xl font-bold text-center md:text-4xl">
  Manifesto
</h1>

<div class="mt-8 text-xl text-center">
  <p class="mb-6">
    Pikiran. <br>
    Pusat semesta dalam hidup kita.
  </p>
  <p class="mb-6">
    Ia bawa menjelajah angkasa. <br>
    Ia biarkan kita merasa. <br>
    Ia lahirkan ide-ide gila. <br>
    Ia lah titik kesadaran manusia.
  </p>
  <p class="mb-6">
    Pikiran. <br>
    Setiapnya adalah alam yang berbeda. <br>
    Membuka jalan menuju ragam cakrawala.
  </p>
  <p class="mb-6">
    Di sini. <br>
    Tempat pikiran-pikiran terbaik negeri ini. <br>
    Tempat mereka berbagi. <br>
  </p>
  <p class="mb-6">
    Angan. Impian. Imajinasi. <br>
    Kegundahan. Ketakutan. <br>
    Hasrat. Cinta. Harapan.
  </p>
  <p class="mb-6">
    Pemikiran <br>
    Resapi dan jadikan inspirasi.
  </p>
</div>
