<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#111827"/>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="{{ '/css/app.css' | assetUrl }}">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="preload" href="https://fonts.gstatic.com/s/cantarell/v10/B50NF7ZDq37KMUvlO015jKJr.woff2" as="font" type="font/woff2">
    <link rel="dns-prefetch" href="https://cdn.statically.io" />
    {# <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="{{ config.app.title }} feed" /> #}
    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantarell&display=swap"> #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"/>
    <link rel="manifest" href="/manifest.json">
    <title>{{ config.app.name }} - {{ title or renderData.title }}</title>
    {# SEO #}
    {% if seoDoNotIndex %}
      <meta name="robots" content="noindex" />
    {% else %}
      <meta name="robots" content="index, follow" />
    {% endif %}
    <meta name="title" content="{{ (title or renderData.title or config.app.title) }}">
    <meta name="description" content="{{ (description or renderData.description or config.app.desc) }}">
    <meta property="og:title" content="{{ (title or renderData.title or config.app.title) }}"/>
    <meta property="og:description" content="{{ (description or renderData.description or config.app.desc) }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ (cover or renderData.cover or config.app.ogImage) }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ (title or renderData.title or config.app.title) }}" />
    <meta property="twitter:description" content="{{ (description or renderData.description or config.app.desc) }}" />
    <meta property="twitter:image" content="{{ (cover or renderData.cover or config.app.ogImage) }}" />
    <meta property="twitter:creator" content="@greatmind_id" />
    {# END SEO #}
    {% block before_head %} {% endblock %}
  </head>
  <body class="text-black bg-white dark:bg-gray-800 dark:text-gray-200">
    {% include 'header.njk' %}
    <main class="w-full max-w-screen-xl px-4 mx-auto mt-8">
      {% block main %} {{ content | safe }} {% endblock %}
    </main>
    {% include 'footer.njk' %}
    <script defer src="{{ '/js/app.js' | assetUrl }}"></script>
    <script defer src="https://cdn.statically.io/libs/alpinejs/3.4.0/cdn.min.js"></script>
    <script async data-goatcounter="https://greatmind-mirror.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
    <script defer src=" https://cdn.jsdelivr.net/npm/algoliasearch/dist/algoliasearch.umd.min.js"></script>
  </body>
</html>
